/*
Colors used:
CTA primary color (blue): #0078D7;
CTA secondary color (coral): #FF7656;
Accent color (soft coral): #FFA38E;
Accent color (turquoise): 9DCDD2;
Background color (light grey): #F5F5F5;
Background color (light coral): #EED0C5;
Background color (light turquoise): #C0D0CF;
*/
* {
  box-sizing: border-box; /*padding and border will now be included within the final width*/
}

header {
  background-color: #EED0C5;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 0px;/*I prefer not to have a visible margin*/
  box-shadow: 0px 3px 15px 0px rgba(100, 100, 100, 0.7);
  /*border-bottom: 3px solid #4a4a4a;*/
}

body {
  background-color: #FFFFFF;
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #2B2B2B;
}

footer {
  background-color: #EED0C5;
  padding: 15px;
  margin: 0px;
}

h1, h2, h3 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: bold;
}

h2 {
  font-size: 2.25em;
  font-weight: bold;
}

h3 {
  font-size: 1.50em;
  font-weight: bold;
}

img {
  width: 100%;
}


a {
  color: #0078D7;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #FF7656;
  text-decoration: none;
}

a:active {
  color: #FF5B34;
}

.button {
  display: inline-block;
  background-color: #0078D7;
  color: #ffffff !important;
  text-transform: uppercase;
  font-weight: 400;
  padding: 15px 25px;
  border-radius: 50px;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
  font-weight: bold;
}

.button:active {
  color: #FF5B34;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50 !important;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
  margin-bottom: 25px;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff !important;
  border: 2px solid #ff7f50;
}

.button.cv {
  background-color: #ff7f50;
  color: #ffffff !important;
  text-transform: uppercase;
}

.button.cv:hover {
  background-color: #ff7f50;
  color: #ffffff !important;
}

/* Layout styling --------------------------------------*/

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.center { /* rule set, applied for selected html elements */
  text-align: center;
}

.logo {
  max-width: 220px;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: none;
  color: #2B2B2B;
}

/*nav > ul > li > a:visited {
} For now, I do not want to have a visited state for this */

nav > ul > li > a:hover {
  background-color: #ff7f50;
  color: #ffffff !important;
  padding: 15px;
  border-radius: 50px;
}

nav > ul > li > a:active {
  background-color: #ff7f50;
  color: #ffffff !important;
  padding: 15px;
  border-radius: 50px;
}

span {
  display: inline-block;
}

#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #CCCCCC;
}

#hero {
  background-color: #EED0C5;
  display: inline-block;
  width: 100%;
}

#about .column {
  padding-bottom: 25px; border-bottom: 1px solid #CCCCCC;
  margin: 25px 0;
}

#project1 .row {
  padding-bottom: 20px;
}

#social svg {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}
